@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>#Google #twitter</h1>
    <p class="lead">Congratulations this paige diamond dallas is online, wish u the best!!</p>
    <p><a href="http://google.net" class="btn btn-primary btn-large">Check in with me on Facebook &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is hog's wash</h2>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hoagies</h2>

    </div>
</div>